html {
    font-family: Helvetica, sans-serif;
}

#basic {
    border: 1px solid black;
    border-collapse: collapse; 
}

#basic > th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0px;
}

#padding {
    border: 1px solid black;
    border-collapse: collapse; 
}

#padding > th, td {
    border: 1px solid black;
    border-collapse: collapse;
} 